.black {
    color: #333;
}

.white {
    color: #FFFFFF;
}

.green {
    color: #49A436
}

.blue {
    color: #027CD3
}

.darkgray {
    color: #606666
}

.orange {
    color: #dd4814
}

.gray {
    color: #C0C0C0
}
.white {
	color: #FFFFFF;
}